/.vscode
__pycache__/

#env
.venv

#Input, Output, Debug
/input

/output_binomial_new_optilog(best)_tt_open_wbo_intel
/output_sc_new_optilog(best)_tt_open_wbo_intel
/output_binomial_optilog(best)_tt_open_wbo_intel
/output_sc_optilog(best)_tt_open_wbo_intel

/solution
/solution_binomial_new_optilog(best)_tt_open_wbo_intel
/solution_sc_new_optilog(best)_tt_open_wbo_intel
/solution_binomial_optilog(best)_tt_open_wbo_intel
/solution_sc_optilog(best)_tt_open_wbo_intel

/debug_output_binomial_new_optilog(best)_tt_open_wbo_intel

#Tool
validator.jar
Benchmark_INRC2-Linux-x86-64

#Debug
sol.txt
log.txt


#Solver
open-wbo
tt-open-wbo-inc-Glucose4_1_static
tt-open-wbo-inc-IntelSATSolver_static

#Statistic
/statistic