/.vscode
/__pycache__

#env
.venv
#Input, Output

/solution
/output_binomial_new_bdd_tt_open_wbo
/solution_binomial_new_bdd_tt_open_wbo
/output_for_SC
/solution_for_SC

#Tool
validator.jar

#Debug
sol.txt
log.txt


#Solver
open-wbo
tt-open-wbo-inc-Glucose4_1_static

#Statistic
/statistic